<div class="card m-3">
    <form name="form" #carForm="ngForm"(ngSubmit)="carForm.form.valid&&save()" *ngIf="car">
<div class="card-header">
    <h2  *ngIf="car.id">Editing <i>{{car.brand}} {{car.model}}</i></h2>
    <h2 *ngIf="!car.id">Adding new car</h2>
</div>
<div class="card-body">
    <div class="form-group">
        
        <label for="model">Model :</label>
        <input class="form-control" type="text" id="model" name="model"
        [(ngModel)]="car.model" #model="ngModel" required>

        <label for="brand">Brand :</label>
        <input class="form-control" type="text" id="brand" name="brand"
        [(ngModel)]="car.brand" #brand="ngModel" required>

        <label for="bodyType">BodyType :</label>
        <input class="form-control" type="text" id="bodyType" name="bodyType"
        [(ngModel)]="car.bodyType" #bodyType="ngModel" required>

        <label for="year"> Year :</label>
        <input class="form-control" type="text" id="year" name="year"
        [(ngModel)]="car.year" #year="ngModel" required>

        <label for="colour"> Colour :</label>
        <input class="form-control" type="text" id="colour" name="colour"
        [(ngModel)]="car.colour" #colour="ngModel" required>

        <label for="mileage"> Mileage :</label>
        <input class="form-control" type="number" id="mileage" name="mileage"
        [(ngModel)]="car.mileage" #mileage="ngModel" required>

        <label for="amount"> Price :</label>
        <input class="form-control" type="text" id="amount" name="amount"
        [(ngModel)]="car.amount" #amount="ngModel" required>

        <label for="address" > Address :</label>
        <input class="form-control" type="text" id="address" name="address"
        [(ngModel)]="class.address" #address="ngModel" required>

        <!-- <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>Action - 1</button>
                  <button ngbDropdownItem>Another Action</button>
                  <button ngbDropdownItem>Something else is here</button>
                </div>
              </div>
            </div>
          
            <div class="col text-right">
              <div ngbDropdown placement="top-right" class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropup</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                  <button ngbDropdownItem>Action - 1</button>
                  <button ngbDropdownItem>Another Action</button>
                  <button ngbDropdownItem>Something else is here</button>
                </div>
              </div>
            </div>
          </div> -->

            <label>Branch</label>
            <select [(ngModel)]="selectedBranch" name="branch" class="form-control">
              <option *ngFor="let branch of branches"  [value]="branch.id">
                {{branch.address}}
              </option>
            </select>
            <!-- <select  [(ngModel)]="selectedBranch">
              <option *ngFor="let branch of branches" [value]="branch.id"
               name="id" #id="ngModel">
                {{branch.address}}
              </option>
            </select> -->
            
        
      

        
        
  <div *ngIf="carForm.submitted && model.invalid"class="text-danger">
      <div>Model is required</div>
  </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary mr-5">Save</button>
        <button class="btn btn-secondary" (click)="goBack()">Cancel</button>
    </div>
</div>
    </form>
</div>
