<!-- <div class="AboutUs-container">
  <app-add-item class="add-item"(click)="addItem()"></app-add-item>
  <app-AboutUs-item class="AbouttUs" *ngFor="let AboutUs of AboutUss"  [AboutUs]="AboutUs"
      (deletedAboutUs)="delete($event)"[AboutUs]="AboutUs"></app-AboutUs-item>
</div> -->


<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="C:\Users\User\Desktop\obama.jpg" alt="Obama" style="width:100%">
        <div class="container">
          <h2>Barack Obama</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="C:\Users\User\Desktop\obama.jpg" alt="Obama" style="width:100%">
        <div class="container">
          <h2>Barack Obama</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="C:\Users\User\Desktop\obama.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Barack Obama</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>