.car-container {
 
    overflow: scroll;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.car,
.add-item {
    width: 25%;
    cursor: pointer;
    @media only screen and (max-width: 1400px) {
        width: 33%;
    }
    @media only screen and (max-width: 900px) {
        width: 50%;
    }
    @media only screen and (max-width: 500px) {
        width: 100%;
    }
}
div img {
        margin: 0;
        width: 100vw;
        height: calc(100vh - 62px);
        opacity: 0.9;
    
}
