<div class="car-container">
        <!-- <img [src]="myimage"> -->
    <app-add-item class="add-item"(click)="addItem()"></app-add-item>
    <app-car-item class="car" *ngFor="let car of cars"  [car]="car"
        (deletedCar)="delete($event)"[car]="car"></app-car-item>
</div>
