.add-item-container {
    height: 230px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    margin: 5%;
    box-shadow: 10px 8px 11px 5px #E0E0E0;
    border-radius: 2px;
  }