<div class="car-item" *ngIf="car">
    <div class="info">
    
        <div class="brand">Brand : {{car.brand}}</div>
        <div class="model">Modeli : {{car.model}}</div>
        <div class="bodyType">Body Type :{{car.bodyType}}</div>
        <div class="year">Year :{{car.year}}</div>
        <div class="colour">Colour : {{car.colour}}</div>
        <div class="mileage">Mileage : {{car.mileage}}</div>   
        <div class="amount">Price per day: {{car.amount}}</div>
        <div class="branch">Branch:{{car.branch}}</div>
        <img src="C:\Users\User\Desktop\audirs7.jpg">
    </div>
    <div class="actions">
        <div class="edit" (click)="editCarItem()" ><i class="fa fa-edit"></i></div>
        <div class="delete" (click)="deleteCarItem()"><i class="fa fa-trash"></i></div>
    
    </div>
</div>