<div class="branch-container">
    <app-add-item class="add-item"(click)="addItem()"></app-add-item>
    <app-branch-item class="branch" *ngFor="let branch of branches"  [branch]="branch"
        (deletedBranch)="delete($event)"[branch]="branch"></app-branch-item>
</div>
