 .main-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
} 
.header,
.footer {
    height: 50px;
    width: 100%;
    background-color: rgba(99, 33, 161, 0.91);
    font-size: 30px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content {
    height: calc(100vh - 62px);
    overflow-y: auto;
    overflow-x: hidden;
}

.menu {
    height: 62px;
}
